<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Pontano+Sans" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/grid_style.css" type="text/css" />
        <script
                                                                 src="https://code.jquery.com/jquery-3.1.1.min.js"
                                                                 integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                                                                 crossorigin="anonymous"></script>
        <title>Nasdaq Heatmap</title>
    </head>
    <body>

        </div>
        {{{ body }}}
        <script type="text/javascript">
$(document).ready(function() {
    $("span.pop-up").hide()

        $(".cell").on('click', function(){
            $(this).children("span").show()
        })

    $("span.pop-up").on('click', function(e) {
        e.stopPropagation()
        $(this).hide()
    })

});
        </script>
    </body>
</html>
