<div class="wrapper">
    <div class="table-responsive">
            {{#each stock}}
                <div class="cell" data={{pctchange}}><p class="symbol">{{Symbol}}</p><p class="pctchange">{{pctchange}}</p></div>
            {{/each}}
    </div>
</div>
